body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf5;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
  }
    
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-name {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
  }
  
  .edit-link {
    font-size: 0.8em;
    color: #d97673;
    cursor: pointer;
  }
  
  .profile-form {
    max-width: 450px;
    margin-top: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #d97673;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1em;
  }
  
  .save-button {
    width: 100%;
    padding: 10px;
    background-color: #b2d4cf;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social-icons span {
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
  }
  