@import url(https://fonts.googleapis.com/css?family=Afacad:regular);
@import url(https://fonts.googleapis.com/css?family=Aclonica:regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25em 1.25em;
  }

  .profile__container {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .profile__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile__name {
    color: #442A07;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
  }
  
  .profile__header {
    color: #442A07;
    font-family: 'Aclonica', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 1em 0;
    text-align: center;
  }
  .profile__order-history {
    font-family: 'Afacad', sans-serif;
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
  }

  .product-template {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin-bottom: 20px;
  }
  
  .profile__edit-link {
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
  }
  
  .profile__form {
    max-width: 450px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile__form-group {
    width: 300px;
    font-family: 'Afacad', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #d97673;
    border-radius: 5px;
    padding: 10px;
    background-color: #FCF6EE;
  }
  
  .profile__form-group .profile__icon {
    margin-right: 10px;
  }
  
  .profile__form-group .profile__input {
    font-family: 'Afacad', sans-serif;
    background-color: #FCF6EE;
    color:#442A07;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.2rem;
  }
  .profile__buttons {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__save-button {
    width: 200px;
    padding: 10px;
    background-color: #C3D5D9;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #307383;
    border-radius: 5px;
    cursor: pointer;
  }
  .profile__edit-button {
    margin: 0.5em 0;
    width: 200px;
    padding: 10px;
    background-color: #C3D5D9;
    color: #442A07;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #307383;
    border-radius: 5px;
    cursor: pointer;
  }

  .profile__edit-button:hover {
    background-color: #307383;
    color: white;
  }
  .profile__logout-button {
    margin: 0.5em 0;
    width: 200px;
    padding: 10px;
    background-color: #CC8D80;
    color: #442A07;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #442A07;
    border-radius: 5px;
    cursor: pointer;
  }
  .profile__logout-button:hover {
    background-color: #da6851;
    color: white;
  }
  
  @media screen and (min-width: 768px) {
    .profile__name {
      color: #442A07;
      margin-top: 10px;
      font-size: 2.3rem;
      font-weight: bold;
      text-align: center;
    }
    .profile__image {
      width: 175px;
      height: 175px;
    }
    .profile__container {
      width: 500px;
    }
    .profile__header {
      font-size: 1.8rem;
    }
    .profile__order-history {
      width: 470px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.3rem;
    }
    .profile__buttons {
      width: 500px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .profile__logout-button {
      margin: 2em 0;
      width: 200px;
      padding: 10px;
      background-color: #CC8D80;
      font-size: 1.2rem;
    }
  }