@import url(https://fonts.googleapis.com/css?family=Afacad:regular);

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 120px;
    background-color: #fcf6ee;
    width: 100%;
    text-align: center;
    line-height: 0.5;
    font-family: 'Afacad', sans-serif;
    color: #442A07;
  }