.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__title {
  color: #cc8d80;
  font-family: "Aclonica";
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
  max-width: 364px;
}

.login-form__input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #cc8d80;
  border-radius: 5px;
  background-color: #fcf6ee;
  margin-bottom: 1rem;
}

.login-form__button {
  padding: 0.5rem 0;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #442a07;
  border-radius: 5px;
  background-color: #cc8d80;
  color: #ffffff;
}

.login-form__help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.login-form__forgot-password {
  margin: 0;
}

.login-form__checkbox-label {
  display: flex;
  align-items: center;
}

.login-form__checkbox {
  margin: 0 0.5rem 0 0;
}

.alternative-login {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}

.alternative-login__text {
  margin: 0;
}

.alternative-login__link {
  cursor: pointer;
  color: #442a07;
  text-decoration: none;
  font-weight: 700;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.social-media__icon {
  width: 2rem;
  height: 2rem;
}

.dotted-line {
  display: none;
}

.slogan-top {
  display: none;
}
.slogan-bottom {
  display: none;
}

@media only screen and (min-width: 1920px) {
  .main-login {
    display: flex;
  }

  .login {
    flex: 1;
  }

  .slogan-background {
    flex: 1;
    background: url("../../assets/images/baking-background.jpg") no-repeat
      center center;
    background-size: cover;
    clip-path: path(
      "M188.69 599.764C3.31534 747.66 -11.1112 981.545 4.84734 1080H963V0H442.751C135.069 174.245 420.409 414.894 188.69 599.764Z"
    );
    filter: brightness(50%);
    width: 50%;
  }

  .dotted-line {
    display: block;
    position: absolute;
    top: 40%;
    right: 5%;
  }

  .slogan-top {
    display: block;
    position: absolute;
    top: 43%;
    right: 8%;
    color: #ffffff;
    font-family: "Aclonica";
    font-size: 2rem;
    font-weight: 400;
  }
  .slogan-bottom {
    display: block;
    position: absolute;
    top: 56%;
    right: 15%;
    color: #ffffff;
    font-family: "Aclonica";
    font-size: 2rem;
    font-weight: 400;
  }
}

@media only screen and (min-height: 1081px) {
  .slogan-background {
    clip-path: path(
      "M251.587 799.685C4.42044 996.879 -14.815 1308.73 6.46312 1440H1284V0H590.334C180.092 232.327 560.545 553.192 251.587 799.685Z"
    );
  }
  .dotted-line {
    top: 40%;
    right: 7%;
  }
  .slogan-top {
    top: 42%;
    right: 9%;
  }
  .slogan-bottom {
    top: 52%;
    right: 14%;
  }
}

@media only screen and (min-height: 1441px) {
  .slogan-background {
    clip-path: path(
      "M377.38 1199.53C6.63066 1495.32 -22.2225 1963.09 9.69468 2160H1926V0H885.501C270.139 348.49 840.817 829.788 377.38 1199.53Z"
    );
  }
  .dotted-line {
    top: 40%;
    right: 11%;
  }
  .slogan-top {
    top: 41%;
    right: 12%;
  }
  .slogan-bottom {
    top: 47%;
    right: 16%;
  }
}
