.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 1.25em 1.25em;
  }

.confirmation__textbox {
    width: 400px;
    min-height: 500px;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    /* margin-bottom: 1.25em; */
  }
  .confirmation__buttons {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.25em;
  }
  .confirmation__OK-button, .confirmation__cancel-button {
    font-family: "Afacad", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    padding: 0.3125em 1.25em;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #442a07;
    cursor: pointer;
  }
  .confirmation__OK-button {
    background: #cc8d80;
  }
  .confirmation__cancel-button {
    background: #a35c4e;
  }
  .confirmation__cancel-button:hover {
    background: #b92f1c;
  }
  .confirmation__order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    .confirmation__textbox {
      width: 500px;
    }
    .confirmation__buttons {
      width: 500px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1.25em;
    }
  }

