.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 1.25em 1.25em;
  }

.confirmation__textbox {
    width: 400px;
    min-height: 500px;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    /* margin-bottom: 1.25em; */
  }
  .confirmation__order-again {
    font-family: "Afacad", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.3125em 1em;
    margin-top: 0.5em;
    color: white;
    background-color: #cc8d80;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #99a7aa;
    cursor: pointer;
  }
  .price-per-unit {
    margin-bottom: 10px;
  }
  .confirmation__product {
    margin: 1em 0;
  }
  .confirmation__part {
    margin: 1em 0;
    /* border-bottom: 1px solid #442a07; */
  }
  .confirmation__buttons {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25em;
  }
  .confirmation__OK-button, .confirmation__cancel-button {
    font-family: "Afacad", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    padding: 0.3125em 1.25em;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #442a07;
    cursor: pointer;
  }
  .confirmation__OK-button {
    background: #cc8d80;
  }
  .confirmation__cancel-button {
    background: #a35c4e;
  }
  .confirmation__cancel-button:hover {
    background: #b92f1c;
  }
  .confirmation__order-total {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    .confirmation__textbox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 800px;
      min-height: 500px;
    }
    .confirmation__buttons {
      /* width: 500px; */
      display: flex;
      gap: 1.25em;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1.25em;
    }
    .confirmation__left, .confirmation__right {
      width: 400px;
    }
    .confirmation__left {
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
    }
    .confirmation__right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

