@import url(https://fonts.googleapis.com/css?family=Aclonica:regular);

* {
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
}
body {
  margin: 0;
  background-color: #FCF6EE;
}
h2 {
  font-family: 'Aclonica', sans-serif;
}
