@import url(https://fonts.googleapis.com/css?family=Aclonica:regular);
@import url(https://fonts.googleapis.com/css?family=Afacad:regular);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}
h2 {
  font-family: 'Aclonica', sans-serif;
}

button {
  font-family: 'Afacad', sans-serif;
}